@import url('https://fonts.googleapis.com/css2?family=Gluten&family=Oswald:wght@300&family=Quicksand:wght@300&family=Raleway:wght@300&family=Roboto+Mono:ital,wght@1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  border: none;
  outline: none;
  transition: 0.2s;
  text-transform: capitalize;
}

.full-bg {
  background: linear-gradient(90deg, rgba(59, 59, 111, 1) 2%, rgba(69, 69, 134, 1) 27%, rgba(31, 88, 193, 1) 44%, rgba(68, 68, 145, 1) 68%, rgba(61, 61, 182, 1) 88%, rgb(92, 93, 103) 100%);
  height: 100vh;
  width: 100vw;
}

.full-bg .wrapper {
  width: 90%;
  max-width: 24em;
  background: linear-gradient(90deg, rgba(204,204,245,1) 8%, rgba(243,245,251,1) 32%, rgba(231,234,246,1) 77%, rgba(216,220,240,1) 100%);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 2em;
  border-radius: 1em;
}

.full-bg .wrapper .app-details {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.full-bg .wrapper .app-details .app-title {
  font-size: 1.5em;
  margin: 1em 0;
}

.full-bg label {
  display: block;
  font-weight: 550;
}

.full-bg input#amount {
  font-weight: 450;
  font-size: 1.3em;
  display: block;
  width: 100%;
  border-bottom: 2px solid #303030;
  color: #969696;
  margin-bottom: 1em;
}

.full-bg .dropdowns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8em;
  
}

.full-bg .dropdowns select {
  width: 100%;
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 0.2em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-image: url(https://static.thenounproject.com/png/2424963-200.png);
  background-position: right 15px top 50%, center;
  background-size: 20px;
  background-color: #5e5e5ede;
  color: rgba(247, 247, 247, 0.918);
}

.full-bg .dropdowns select option {
  background-color: #fff;
  color: #020202;
}

.full-bg button {
  font-size: 1em;
  width: 100%;
  background-color: #0d0d20;
  padding: 1em 0;
  margin-top: 1.8em;
  border-radius: 0.35em;
  color: #fff;
  font-weight: 550;
  transition: background-color 0.5s, color 0.5s; 
  border:  1px solid transparent;
}
.full-bg .wrapper button:hover {
  color: rgb(3, 3, 27);
  background: linear-gradient(90deg, rgba(219,219,219,1) 8%, rgba(191,247,250,1) 92%, rgba(244,244,244,1) 100%);
  transition: background-color 0.7s, color 0.9s;
  border: 1px solid rgba(218, 218, 218, 0.425);
}
.full-bg #result {
  font-size: 1.2em;
  text-align: center;
  margin-top: 1em;
  color: #020202;
  background-color: #b1b1b1de;
  padding: 0.8em 0;
}
