@import url('https://fonts.googleapis.com/css2?family=Gluten&family=Oswald:wght@300&family=Quicksand:wght@300&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family: 'Gluten', cursive;
}

body {
    background-color: #706f6fbb;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.main {
    overflow-x: hidden; /* because of bg size 400% without "overflow-x hidden" there will be a horizontal scrollbar while the site loading*/
    background: linear-gradient(-45deg, rgb(214, 211, 203), #77735fe0, rgb(117, 108, 87), rgba(209, 209, 206, 0.808));
    background-size: 400%;
    height: fit-content;
    width: 100%;
    font-size: 24px;
    justify-content: center;
    animation: animate 15s ease infinite;
}

@keyframes animate {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    0% {
        background-position: 0 50%;
    }
}

.main h2 {
    margin-top: 1em;
    text-align: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul {
    margin: 2em 0;
}

li {
    display: inline;
}

li a {
    margin: 0 1em;
    color: rgba(0, 0, 0, 0.8);
}

li a span {
    display: inline-block;
    transition: transform 0.5s ease-in-out;
}

/* CODE FOR NAVBAR  ANIMATE EFFECT*/
li a:hover .nav-home-h {
    transform: translate(-12px, -8px) rotate(18deg);
}

li a:hover .nav-home-o {
    transform: translate(11px, -6px) rotate(26deg);
}

li a:hover .nav-home-m {
    transform: translate(-8px, 15px) rotate(31deg);
}

li a:hover .nav-home-e {
    transform: translate(10px, 10px) rotate(12deg);
}

li a:hover .nav-offers-o,
li a:hover .nav-contact-c,
li a:hover .nav-about-a {
    transform: translate(-7px, 11px) rotate(18deg);
}

li a:hover .nav-offers-f,
li a:hover .nav-contact-o,
li a:hover .nav-about-b,
li a:hover .nav-contact-c2 {
    transform: translate(15px, -25px) rotate(-52deg);
}

li a:hover .nav-offers-f2,
li a:hover .nav-contact-n,
li a:hover .nav-about-o {
    transform: translate(-32px, 3px) rotate(25deg);
}

li a:hover .nav-offers-e,
li a:hover .nav-contact-t,
li a:hover .nav-about-u {
    transform: translate(11px, 24px) rotate(-87deg);
}

li a:hover .nav-offers-r,
li a:hover .nav-contact-a,
li a:hover .nav-about-t,
li a:hover .nav-offers-s {
    transform: translate(-17px, 12px) rotate(40deg);
}

li a:active {
    border-bottom: 1.5px solid rgba(22, 22, 22, 0.904);
    color: rgba(245, 245, 245, 0.89);
    transition: 0.7s;
}

li a:active .nav-home-h,
li a:active .nav-home-e,
li a:active .nav-home-m,
li a:active .nav-home-o,
li a:active .nav-offers-o,
li a:active .nav-contact-c,
li a:active .nav-about-a,
li a:active .nav-offers-f,
li a:active .nav-contact-o,
li a:active .nav-about-b,
li a:active .nav-offers-f2,
li a:active .nav-contact-n,
li a:active .nav-about-o,
li a:active .nav-offers-e,
li a:active .nav-contact-t,
li a:active .nav-about-u,
li a:active .nav-offers-r,
li a:active .nav-contact-a,
li a:active .nav-about-t,
li a:active .nav-contact-c2,
li a:active .nav-offers-s {
    transform: translate(0) rotate(0);
}
/* CODE FOR NAVBAR  ANIMATE EFFECT*/

.logo {
    color: rgb(0, 0, 0);
    transition: 0.7s ease-in-out;
    border-radius: 50%;
}

.logo:hover {
    color: rgba(255, 255, 255, 0.9);
    padding: 1em;
    background-color: rgb(31, 31, 31);
}

.main-content {
    margin: 5em 0;
    font-size: 18px;
}

.main-content img {
    height: 20rem;
    width: 15em;
    border-radius: 10px;
    margin: 0 4em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.main-content img:hover {
    opacity: 0.5;
}

.main-content-first, .main-content-second {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 70%;
    text-overflow: ellipsis;
    word-wrap: break-word;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
    animation: slideRight 1s ease-in-out;
    text-align: center;
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.main-content-first:hover {
    transform: translateX(50px);
}

.main-content-second {
    flex-direction: row-reverse;
    margin: 5em 0;
    margin-left: 30%;
    transition: transform 0.5s ease-in-out;
    animation: slideLeft 1s ease-in-out;
}

.main-content-first p, .main-content-second p {
    display: flex;
    flex-wrap: wrap;
    padding: .6rem;
    flex: 1;
}

.main-content-second:hover {
    transform: translateX(-50px);
}

@keyframes slideLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

footer{
    display: flex;
    justify-content: center;
}
footer a{
    color: black;
    margin: 0 0.6em;
}
